body {
    font-family: Arial, sans-serif;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
  }
header{
    background-color: black;
}   
.logo1{
  margin-left:7rem ;
}

  
.navbar ul{
  list-style-type: none;
  overflow: hidden;
  background-color: grey;
  padding:10px ;
}
.navbar li{
  float: left;
  padding:20px ;
}
.navbar a{
   color: white;
   text-decoration: none;
   display: block;
   
}               
.navbar a:hover{
   color: black ;
   
}
.search{
  display: flex;
  margin-right:20px ;
  float:right
  
}
.search input{
  
  font-size: 16px;
  border:1px solid black ;
  border-radius: 0.5rem;

}
.search button{
   padding:10px ;
   font-size:16px ;
   color:black;
   cursor: pointer;  
   border:none ;   
}
.search form{
    display: flex;
    margin: 0;
}
h1 {
    text-align: center;
    color:gray;
    margin-top: 20px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: #fff;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

table thead {
    background-color:black;
    color: white;
}

table thead th {
    padding: 15px;
    text-align: left;
}

table tbody tr {
    background-color: #f9f9f9;
    border-bottom: 1px solid #ddd;
}

table tbody tr:hover {
    background-color: #f1f1f1;
}

table tbody td {
    padding: 15px;
    text-align: left;
}

tfoot td {
    padding: 15px;
    font-weight: bold;
    background-color: #f1f1f1;
    text-align: right;
}

tfoot td#totalCost {
    color: #e53935;
    text-align: right; 
}

tfoot td[colspan="4"] {
    text-align: right; 
}

/* Button Styles */
button {
    padding: 10px 20px;
    margin: 5px;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

/* Button Colors */
button.remove-btn {
    background-color: #e53935; 
}

button.remove-btn:hover {
    background-color: #d32f2f;
}

button.update-btn {
    background-color: #1E88E5; 
}

button.update-btn:hover {
    background-color: #1565C0;
}

button#addToFavouritesBtn {
    background-color: #8E24AA; 
}

button#addToFavouritesBtn:hover {
    background-color: #7B1FA2;
}

button#applyFavouritesBtn {
    background-color: #FFB300; 
}

button#applyFavouritesBtn:hover {
    background-color: #FFA000;
}

button#clearCartBtn {
    background-color: #FB8C00; 
}

button#clearCartBtn:hover {
    background-color: #F57C00;
}

button#buynowbtn {
    background-color: #43A047; 
}

button#buynowbtn:hover {
    background-color: #388E3C;
}

button a {
    color: white;
    text-decoration: none;
}

button#buynowbtn a {
    font-weight: bold;
}
.footer {
  background-color:black;
  padding: 20px;
  text-align: center;
  color: aliceblue;

}


.footer-content {
  margin-bottom: 20px;
}



.social-link {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}


.social-link:hover {
  text-decoration: underline;
  color: #383636;
}
@media (max-width: 600px) {
  .logo1{
    margin-left: 4rem;
} 

}